:root{
  --cyan: #296E85;
  --darkCyan: #1E5162;
  --lightBlue: #ADD8E6;
  --lightYellow: #FFFFE0;
}


body {
  margin: 0;
  background-color: var(--cyan);
  color: white;
}

.navBar{
  background-color: var(--lightBlue);
  color: white;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navButton{
  background-color: var(--darkCyan) ;
  border-radius: 10px;
  color: var(--lightYellow) ;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.navTitle{
  background-color: var(--darkCyan);
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
  font-weight: 800;
}